.col-1-7 {
  grid-column: span 1 / span 7;
}

.col-2-7 {
  grid-column: span 2 / span 7;
}

.col-3-7 {
  grid-column: span 3 / span 7;
}

.col-4-7 {
  grid-column: span 4 / span 7;
}

.col-5-7 {
  grid-column: span 5 / span 7;
}

.col-6-7 {
  grid-column: span 6 / span 7;
}

.col-7-7 {
  grid-column: span 7 / span 7;
}

.col-1-12 {
  grid-column: span 1 / span 12;
}

.col-2-12 {
  grid-column: span 2 / span 12;
}

.col-3-12 {
  grid-column: span 3 / span 12;
}

.col-4-12 {
  grid-column: span 4 / span 12;
}

.col-5-12 {
  grid-column: span 5 / span 12;
}

.col-6-12 {
  grid-column: span 6 / span 12;
}

.col-7-12 {
  grid-column: span 7 / span 12;
}

.col-8-12 {
  grid-column: span 8 / span 12;
}

.col-9-12 {
  grid-column: span 9 / span 12;
}

.col-10-12 {
  grid-column: span 10 / span 12;
}

.col-11-12 {
  grid-column: span 11 / span 12;
}

.col-12-12 {
  grid-column: span 12 / span 12;
}

// Flexbox Styles

.flex {
  display: flex;
}

.flex-inline {
  display: inline-flex;
}

.flex-column {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-nowrap {
  flex-wrap: nowrap;
}

.flex-grow {
  flex-grow: 1;
}

.flex-shrink {
  flex-shrink: 1;
}

.items-start {
  align-items: flex-start;
}

.items-center {
  align-items: center;
}

.items-end {
  align-items: flex-end;
}

.justify-start {
  justify-content: flex-start;
}

.justify-center {
  justify-content: center;
}

.justify-end {
  justify-content: flex-end;
}

.justify-between {
  justify-content: space-between;
}

.justify-around {
  justify-content: space-around;
}

.self-start {
  align-self: flex-start;
}

.self-center {
  align-self: center;
}

.self-end {
  align-self: flex-end;
}
