.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 16px;
}

@mixin generate-grid-columns($total-columns) {
  @for $i from 1 through $total-columns {
    .col-#{$i}-#{$total-columns} {
      grid-column: span #{$i} / span #{$total-columns};
    }
  }
}

@include generate-grid-columns(7);
@include generate-grid-columns(12);

// Flexbox Styles

@for $i from 1 through 6 {
  .gap-#{$i} {
    gap: #{$i}rem;
  }
}

.flex {
  display: flex;
}

.flex-inline {
  display: inline-flex;
}

.flex-column {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-nowrap {
  flex-wrap: nowrap;
}

.flex-grow {
  flex-grow: 1;
}

.flex-shrink {
  flex-shrink: 1;
}

.items-start {
  align-items: flex-start;
}

.items-center {
  align-items: center;
}

.items-end {
  align-items: flex-end;
}

.justify-start {
  justify-content: flex-start;
}

.justify-center {
  justify-content: center;
}

.justify-end {
  justify-content: flex-end;
}

.justify-between {
  justify-content: space-between;
}

.justify-around {
  justify-content: space-around;
}

.self-start {
  align-self: flex-start;
}

.self-center {
  align-self: center;
}

.self-end {
  align-self: flex-end;
}
