@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

// Font sizes
$font-xs: 0.8rem;
$font-sm: 0.875rem;
$font-base: 1rem;
$font-md: 1.125rem;
$font-lg: 1.25rem;
$font-xl: 1.5rem;
$font-2xl: 2rem;
$font-3xl: 3rem;

// Font weight
$font-thin: 200;
$font-light: 300;
$font-normal: 400;
$font-medium: 500;
$font-semibold: 600;
$font-bold: 700;
$font-xbold: 800;
$font-black: 900;

// Font utils
$font-body: $font-normal;
$font-heading: $font-bold;
$font-book: $font-light;

h1 {
  font-size: $font-3xl;
  font-weight: $font-black;
}

h2 {
  font-size: $font-2xl;
  font-weight: $font-bold;
}

h3 {
  font-size: $font-xl;
  font-weight: $font-semibold;
}

h4 {
  font-size: $font-lg;
  font-weight: $font-medium;
}

h5 {
  font-size: $font-base;
  font-weight: $font-normal;
}

h6 {
  font-size: $font-sm;
  font-weight: $font-light;
}

p {
  font-size: $font-base;
  font-weight: $font-body;
}

span {
  font-size: $font-xs;
  font-weight: $font-book;
}
